*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/*
.DS_Store
/build
/captures
.externalNativeBuild
app/fabric.properties
geo_api.properties
mapbox.properties
app/release.keystore
keystore.properties
app/triple-key.json
