<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.taskforce.episample">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".EpiApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".splash.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".permissions.ui.PermissionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".config.base.ConfigActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".auth.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".config.base.BuildConfigActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".config.base.ConfigSuccessActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".navigation.ui.NavigationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sync.ui.ShareStudyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".config.sampling.filter.RuleSetCreationActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="${fabricApiKey}" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${geoApiKey}" />

        <service android:name=".sync.core.FileTransferService"></service>
        
        <provider
            android:authorities="org.taskforce.episample.fileprovider"
            android:name="android.support.v4.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>
